
// Red and Blue CTA buttons
.cta-brand, .btn-primary { // using overrides because Woocommerce caused problems TODO: look for a non-force way to namespace theme settings
  $brandShadow : darken($brand-primary, 10%);
  border-radius: 0;
  background-color: $brand-primary !important;
  border-color: $brand-primary !important;
  box-shadow: 0 5px 0px 0 darken($brand-primary, 10%) !important;
  padding: .4rem 1.5rem .3rem !important;
  color: $gray-lightest !important;
  &:hover {
    background-color: darken($brand-primary, 10%) !important;
    border-color: $brand-primary !important;
    box-shadow: 0 5px 0px 0 darken(darken($brand-primary, 10%), 10%) !important;
    color: $white !important;
    text-shadow: 3px 3px 3px rgba( $brandShadow, 0.9) !important;

  }
}
.cta-explore {
  $exploreShadow : darken($brand-info, 10%);
  border-radius: 0;
  background-color: $brand-info;
  border-color: $brand-info;
  box-shadow: 0 5px 0px 0 darken($brand-info, 10%);
  padding: .4rem 1.5rem .3rem;
  color: $gray-lightest;
  &:hover {
    background-color: darken($brand-info, 10%);
    border-color: $brand-info;
    box-shadow: 0 5px 0px 0 darken(darken($brand-info, 10%), 10%);
    color: $white;
    text-shadow: 3px 3px 3px rgba($exploreShadow, 0.9);
  }
}
.cta-simple {
  color: $brand-primary;
  padding: .4rem 1.5rem .3rem;
  &:after {
    content: '\f105';
    font-family: FontAwesome;
    padding-left: .5rem;
  }
}

// Jumbotron Lead Button - Pill Style
.lead {
  .btn-pill {
    border-radius: 50px;
    border: 2px solid $brand-primary;
    background-color: white !important;
    box-shadow: none;
    font-size: 1.15rem;
    font-weight: 500;
    color: $brand-primary !important;
    text-transform: uppercase;
    padding: .4rem 1.5rem;
    &:hover {
      transition: background-color 0.5s ease;
      background-color: darken($brand-primary, 15%) !important;
      color: white !important;


    }
  }
  .btn-box {
    // same as standard button
  }
}